<!-- wp:template-part {"slug":"header","tagName":"header","align":"wide"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"align":"wide"} -->
<main class="wp-block-group alignwide">
	<!-- wp:group {"layout":{"type":"grid","columnCount":2},"align":"wide"} -->
	<div class="wp-block-group alignwide">
		<!-- wp:group {"tagName":"article"} -->
		<article class="wp-block-group">
			<!-- wp:post-title {"level":1} /-->

			<!-- wp:post-content /-->
		</article>
		<!-- /wp:group -->

		<!-- wp:template-part {"slug":"sidebar-editorial"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"trust-bar","tagName":"div"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"wide"} /-->
